#frist
{
    text-align: center;
    color: #ff5733;
}

#second
{
    text-align: center;
    color: #3498db;
}

.second
{
    text-align: center;
    color: #2ecc71;
}

.thrid-second
{
    text-align: center;
    color: #9b59b6;
}